@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #C4AC99;
  --primary-color-bold: #dd9933;
  --sub-title-color: #999999;
  --media-main-color: #f50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.timer-duration {
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 3px;
  --range-progress-height: 3px;
  --range-progress: 0;
  --slider-thumb-size: 0;
  background-color: #d1d5db;
  border-radius: 9999px;
}

.timer-duration:hover {
  height: 5px;
  --range-progress-height: 5px;
  --slider-thumb-size: 12px;
}

.timer-duration::before {
  content: "";
  position: absolute;
  width: var(--range-progress);
  height: var(--range-progress-height);
  background-color: var(--media-main-color);
  border-radius: 1000px;
}

input[type=range].timer-duration::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--media-main-color);
  height: var(--slider-thumb-size);
  width: var(--slider-thumb-size);
  border-radius: 100%;
  transition: transform 100ms ease;
}

input[type="range"].timer-duration::-webkit-slider-thumb:hover {
  transform: scale(1.3);
}

.volume {
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 3px;
  --range-progress-height: 3px;
  --range-volume: 0;
  --slider-thumb-size: 0;
  background-color: #d1d5db;
  border-radius: 9999px;
}

.volume:hover {
  height: 5px;
  --range-progress-height: 5px;
  --slider-thumb-size: 12px;
}

.volume::before {
  content: "";
  position: absolute;
  width: var(--range-volume);
  height: var(--range-progress-height);
  background-color: var(--media-main-color);
  border-radius: 1000px;
}

input[type=range].volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--media-main-color);
  height: var(--slider-thumb-size);
  width: var(--slider-thumb-size);
  border-radius: 100%;
  transition: transform 100ms ease;
}

input[type="range"].volume::-webkit-slider-thumb:hover {
  transform: scale(1.3);
}

/* customize css scrollbar in list player */
.player-list::-webkit-scrollbar {
  width: 0.4em;
}

.player-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.player-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}